---
title: "Sanity Check"
format: 
    html:
        code-fold: true
jupyter: python3
author: "Forrest Wilbur"
date: "`r Sys.Date()`"
---

In [ ]:
from pathlib import Path
import os
import json
import pandas as pd

parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
data_dir = Path("data")

dict_path = parent_dir / data_dir / "dictionary.json"
keys_path = parent_dir / data_dir / "enochian_keys.json"

# Load entries
dictionary = json.loads(dict_path.read_text(encoding="utf-8"))
keys = json.loads(dict_path.read_text(encoding="utf-8"))

# Show first 5 entries as (word, value) pairs
dictionary[:5]

keys[:2]

rows = []
for entry in dictionary:
    if isinstance(entry, dict):
        rows.append({"word": entry.get("word"), "gloss": entry.get("definition")})
    else:
        rows.append(entry)

df = pd.DataFrame(rows)
df.head()

True True
True True

    word                  gloss
0      A             in,on,with
1    AAI    amongst,amongst you
2  AAIOM     amongst,amongst us
3    AAF                amongst
4   AALA  to place, to place in